.custom_margin_left {
    margin-left: 30%;
}

.alert_custom_padding {
    padding-top: 5px;
}

.loading-gif-apps {
    position: absolute!important;
    z-index: 10!important;
    left: 41%!important;
}

